ast_thumbnail.png
*.png
plane-rotation/documentation/tex/main.aux
plane-rotation/documentation/tex/main.bbl
plane-rotation/documentation/tex/main.bcf
plane-rotation/documentation/tex/main.blg
plane-rotation/documentation/tex/main.out
plane-rotation/documentation/tex/main.run.xml
plane-rotation/documentation/tex/pages/cover.aux
